<div>
    <div class="footer-top">
        <div>
            <dl>
                <dt>ABOUT</dt>
                <dd>Contact Us</dd>
                <dd>About Us</dd>
                <dd>Careers</dd>
                <dd>Corporate Information</dd>
                <dd>Shopper Stories</dd>
            </dl>
        </div>
        <div>
            <dl>
                <dt>HELP</dt>
                <dd>Payment</dd>
                <dd>Shipping</dd>
                <dd>Cancellation & Returns</dd>
                <dd>FAQs</dd>
            </dl>
        </div>
        <div>
            <dl>
                <dt>CONSUMER POLICY</dt>
                <dd>Return Policy</dd>
                <dd>Terms of Use</dd>
                <dd>Security</dd>
                <dd>Privacy</dd>
                <dd>Grievance Redressal</dd>
            </dl>
        </div>
        <div>
            <dl>
                <dt>OFFICE ADDRESS</dt>
                <dd>Shopper private limited,</dd>
                <dd>Clove Embassy Tech Village,</dd>
                <dd>Outer Ring Road,</dd>
                <dd>Bengaluru,Karnataka,560103</dd>
                <dd>Tele:044-45678904</dd>
            </dl>
        </div>
    </div>

    <div class="footer-bottom row">
        <div class="input-group w-50 h-25 col-9">
            <input type="text" class="form-control w-25">
            <button class="btn btn-warning">Register Yourself</button>
            <p class="text-white">Register yourself for all latest updates from Shopper</p>
        </div>
        <div class="footer-social col-3">
            Social:
            <span class="bi bi-facebook text-primary"></span>
            <span class="bi bi-twitter text-primary"></span>
            <span class="bi bi-instagram text-danger"></span>
        </div>
    </div>
    
</div>