.signup{
    text-align: center;
    color: chocolate;
    margin-top: 80px;
    margin-bottom: 50px;
}
.auth-toggle-link1 {
    margin-top: 20px;
    color: chocolate;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}
.auth-toggle-link2 {
    margin-top: 20px;
    color: chocolate;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}
    